*.o
*.lo
*.la
*.a
*.so
.deps
.libs
Makefile
Makefile.in
*.*~
missing
stamp-*
ltmain.sh
libtool
depcomp
install-sh
*.status
config.h*
*.log
config.sub
*.guess
*.cache
configure
ar-lib
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
